<style type="text/css">
body,html{
    height: 100%;
}
    #mainDiv{
       background-image: linear-gradient(#C04848, #480048);
       height: 100%;
       font-family:Arial;
    }
    #sign-in-form{
      border:2px solid;
      padding: 30px;
      margin-top: 50px;
      border-radius: 13px;
      background-image: linear-gradient(#ECE9E6, #FFFFFF);
    }
    #btn{
      font-size: 18px;
    }
  </style>


<div class="container-fluid" id="mainDiv">
    <form action="http://localhost:1338/Create" method="POST">
      <div class="col-lg-4">
        
      </div>
      <div class="col-lg-4" id="sign-in-form">
       <div>
         <center><h1>Sign-up</h1></center>
       </div> 
      <div class="form-group">
        <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name" placeholder="Enter your Full Name">
      </div>
        <label for="email">Email address:</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" placeholder="Enter Password">
      </div>
      <div class="form-group">
        <label for="salary">Salary:</label>
        <input type="number" class="form-control" name="salary" placeholder="Enter your salary">
      </div>
      <div class="form-group">
        <label for="tenure">Work tenure:</label>
        <input type="number" class="form-control" name="tenure" placeholder="Enter your work tenure">
      </div>
     <center><button type="submit" class="btn btn-primary" id="btn">Sign Up</button></center>
    </form>
    </div>
    <div class="col-lg-4">
        
      </div>
     </div>